/* Extend bootstrap button class | Redefine Foxtel button class */

.foxtel-now-btn {
	@include foxtel-now-btn(5px);

	&.is-disabled {

		background-color: $foxtel-now-disabled-grey;
		color: $foxtel-now-dark-grey;
		pointer-events: none;

		&:hover {
			opacity: 1.0;
		}
	}
}

.foxtel-now-btn--round {
   @include foxtel-now-btn(5em);
}

.foxtel-now-btn--black {
	background-color: black;
	color: white;
	&:hover {
	    color: white;
	}
}

.foxtel-now-btn--wide {
	@extend .foxtel-now-btn;

	display: inline-block;
	width: auto;
	padding: {
		left: 50px;
		right: 50px;
	}
}

.foxtel-now-btn--ghost {
	@extend .foxtel-now-btn;
	background: transparent;
	border: 1px solid rgb(47,218,110);
	&:hover{
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	}
}

.foxtel-now-btn--transparent {
	@extend .foxtel-now-btn;

	background-color: transparent;
	color: black;
}

.foxtel-now-btn--profile {
	@extend .foxtel-now-btn;

	background-color: transparent;
	color: black;
	border: solid 1px rgb(222, 222, 222);
	padding: 10px;
}
