/* Extend bootstrap button class | Redefine Foxtel button class */

.foxtel-now-btn {
	@include foxtel-now-btn();
}

.foxtel-now-btn--transparent {
	@include foxtel-now-btn($backgroundColour: transparent);
}

.foxtel-now-btn--round {
   @include foxtel-now-btn(5em);
}

.foxtel-now-btn--disabled {
	@extend .foxtel-now-btn;

	background-color: $foxtel-now-disabled-grey;
	color: $foxtel-now-dark-grey;
	pointer-events: none;

	&:hover {
		opacity: 1.0;
	}
}

.foxtel-btn--wide {
	@extend .foxtel-now-btn;
	
	display: inline-block;
	max-width: none;
}

.foxtel-now-btn--ghost {
	@extend .foxtel-now-btn;
	background: transparent;
	border: 1px solid rgb(47,218,110);
	&:hover{
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	}
}
