// Colour variables
// ----------------

$foxtel-now-blue: #141432;
$grey-blue: #818190;
$grey-light: #F0F0F0;
$grey-dark: #888;
$soft-white: rgba(255, 255, 255, 0.8);

$foxtel-now-green: #2dcc67;
$foxtel-now-dark-grey: #505050;
$foxtel-now-very-dark-grey: #0a0a0a;
$foxtel-now-light-grey: #f0f0f0;


/*********************
BACKGROUND
*********************/

.foxtel-now-background-green {
	background-color: rgb(47,218,110) !important;
}

.foxtel-now-background-black {
	background-color: rgb(0,0,0) !important;
}

.foxtel-now-background-off-white {
	background-color: rgb(240,240,240) !important;
}

.foxtel-now-background-lightgrey {
	background-color: rgb(247,247,247) !important;
}

/*********************
COLOR
*********************/

.foxtel-now-color-whilte {
	color: rgb(255,255,255) !important;
}

.foxtel-now-color-black {
	color: rgb(0,0,0) !important;
}

.foxtel-now-color-grey {
	color: rgb(153, 153, 153) !important;
}

.foxtel-now-color-darkgrey {
	color: rgb(102, 102, 102) !important;
}
