@mixin placeholder($selector, $color) {
  #{$selector}::-webkit-input-placeholder {color: $color}
  #{$selector}::-moz-placeholder          {color: $color}
  #{$selector}:-ms-input-placeholder      {color: $color}
}

/*********************
FORM VARIABLE
*********************/
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

.foxtel-now-form-container {
  @include placeholder('input', transparent);
  @include placeholder('input:focus', $foxtel-now-dark-grey);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);

/* Parsley classes */

  .parsley-error {
  	border: solid 0.5px rgb(182, 0, 0);
  }
  .parsley-errors-list {
  	color: rgb(182, 0, 0);
  	list-style: none;
  	display: table-row;
  	li {
  		color: rgb(218, 110, 47);
  		font-size: 12px;
  	}
  }

  .field-description {
  	margin-top: -1rem;
  }

/* Form classes */

  font-family:"ProximaNova",arial,sans-serif;
  font-size: 18px;
  color: rgb(102, 102, 102);
  padding: 40px;
  @include breakpoint(mobileOnly){
    padding: 20px;
  }
  border-radius:$br;
	.foxtel-now-form-container__tab-group {
	  list-style:none;
	  padding:0;
	  margin:0 0 40px 0;
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }

	  li a {
	    display:block;
	    text-decoration:none;
	    padding:15px;
	    background:rgba($gray-light,.25);
	    color:$gray-light;
	    font-size:20px;
	    float:left;
	    width:50%;
	    text-align:center;
	    cursor:pointer;
	    transition:.5s ease;
	    &:hover {
	      background:$main-dark;
	      color:$white;
	    }
	  }
	  .active a {
	    background:$main;
	    color:$white;
	  }
	}

	label {
	  position:absolute;
	  transform:translateY(6px);
	  left:13px;
	  top: 7px;
	  color: lightgrey;
	  transition:all 0.25s ease;
	  -webkit-backface-visibility: hidden;
	  pointer-events: none;
	  .req {
	  	margin:2px;
	  	color:$main;
	  }
	}

	label.active {
	  transform:translateY(-5px);
	  left:12px;
	  font-size:12px;
	  color: initial;
	  .req {
	    opacity:0;
	  }
	}

	input, textarea {
	  background:none;
	  background-image:none;
	  border: solid 0.5px rgb(153, 153, 153);
	  border-radius:0;
	  height: 3em;
	  transition:border-color .25s ease, box-shadow .25s ease;
	  &:focus {
			outline:0;
			border-color:initial;
	  }
      &::-ms-clear {
        display: none;
      }
	}

	textarea {
	    padding: 0;
	}

    .dropdown {
        .custom-select {
          border: solid 0.5px rgb(153, 153, 153);
          border-radius:0;
          transition:border-color .25s ease, box-shadow .25s ease;
          width: 100%;
          font-size: 90%;
          -webkit-appearance: listbox;
          white-space: normal;
          min-height: 3.5em;
          &:focus {
                outline:0;
                border-color:initial;
          }
          span {
            display: inline-block;
            text-align: left;
            margin-bottom: initial;
          }
        }

        .dropdown-menu {
            width: 100%;
        }

        .dropdown-item {
            white-space: normal;
        }

        .dropdown-toggle::after {
            content: "";
            display: none;
        }

        .show>.dropdown-menu {
            width: 100%;
        }
    }

	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 2.95em;
	  cursor: pointer;
	  left: initial;
	  color: initial;
	  pointer-events: auto;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 30px; height: 30px;
	  border: 1px solid rgb(153, 153, 153);
	  background: #fff;
	  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	  content: '✔';
	  position: absolute;
	  top: .7em; left: .7em;
	  font-size: .8em;
	  line-height: 0.8;
	  color: white;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	[type="checkbox"]:checked + label:before {
	  background: $foxtel-now-pink;
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: rgb(153, 153, 153);
	  background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	[type="checkbox"]:disabled + label {
	  color: #aaa;
	}

	/* hover style just for information */
	[type="checkbox"] + label:hover:before {
	  border: 2px solid #4778d9!important;
	}

	.field-wrap {
	  position:relative;
	  align-self: flex-start;
	  .input-icon {
	  	position: absolute;
	  	top: 12px;
	  	right: 20px;
	  	.icon {
          display: inline-block;
          width: 1em;
          height: 1em;
          &:hover {
            path:first-child {
                fill: var(--color1, black)
            }
            path:last-child {
                stroke: var(--color1, black)
            }
          }
        }
        .icon-Show-password {
          width: 1.5em;
        }
	  	img {
		  	opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        &.inactive {
          display: none;
        }
	  	}
	  }
	  .show-password-target {
	  	cursor: pointer;
	  	top: 17px;
	  }
	  .active {
	  	opacity: 1 !important;
	  }
	  .tooltips-target {
	  	cursor: pointer;
	  	&:hover {
	  		opacity: 1;
	  	}
	  }
	  .tooltips-container {
	  	position: absolute;
	  	bottom: 65px;
	  	right: 2px;
	  	opacity: 0;
	  }
      &.required {
        &:after {
            content: "*";
            color: red;
            position: absolute;
            top: 5px;
            right: 25px;
        }
      }
	}

	.button {
	  border:0;
	  outline:none;
	  border-radius: 5rem;
	  padding:15px 0;
	  font-weight:$bold;
	  text-transform:uppercase;
	  letter-spacing:.1em;
	  background:$main;
	  color:$white;
	  transition:all.5s ease;
	  -webkit-appearance: none;
	  &:hover, &:focus {
	    background:$main-dark;
	  }
	}

	.button-block {
	  display:block;
	  width:100%;
	}

	.forgot {
	  margin-top:-20px;
	  text-align:right;
	}

	sub	{
		line-height: normal;
	}

  .form-control--has-button {
    padding-right: 160px;
  }

  .password-edit {
    $inputHeight: 60px;

    .btn {
      margin-top: 20px;
      border-radius: 0;
    }

    position: absolute;
    top: 0;
    right: 0;

    .btn {
      background-color: white;
      margin-top: 0;
      height: $inputHeight;
      line-height: $inputHeight;
      padding: 0 20px;
    }
  }

  .choices {
    .choices__inner {
      border: solid 0.5px #999999;
      height: 60px;
      border-radius: 0;
      background-color: white;

      .choices__list--single {
        padding-left: 8px;
        font-size: 19px;
        color: lightgrey;

        [aria-selected=true] {
          color: $foxtel-now-dark-grey;
        }
      }
    }

    &.is-focused {
      .choices__inner {
        .choices__list--single {
          color: $foxtel-now-dark-grey;
        }
      }
    }
  }
}
