@import "./color";

/* Store mixins or re-usable classes */

@mixin foxtel-now-card() {
	width: 376px;
	height: 465px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
  	border: solid 2px rgb(240, 240, 240);
  	&:hover {
  		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  		border: solid 2px rgb(47, 218, 110);
  	}
  	.foxtel-now-btn.enable {
  		span{
  			&:before {
  				content: '\002B';
  				padding-right: 10px;
  			}
  		}
  	}
	.foxtel-now-card__image-wrapper {
		text-align: center;
		.foxtel-now-card__image-wrapper__promo {
			text-align: left;
			color: rgb(74, 74, 74);
			background-color: rgb(240, 240, 240);
  			box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  			height: 36px;
  			display: table;
  			margin-left: -15px;
  			padding-left: 15px;
  			padding-right: 35px;
  			p {
  				margin-top: 1rem;
  				display: table-cell;
  				vertical-align: middle;
  			}
		}
		figure {
			width: 261px;
			height: 186px;
		}
		figcaption {
			text-align: right;
			color: rgb(137, 137, 137);
		}
	}

	.foxtel-now-card__title-wrapper {
		.foxtel-now-card__title {
			color: white;
			display: flex;
			justify-content: space-between;
			p {
				margin-bottom: 0;
			}
		}

		.foxtel-now-card__title--middle {
			vertical-align: middle;
		}

		.foxtel-now-card__title__name {
			display: inline;
			color: rgb(40, 40, 40);
		}

		.foxtel-now-card__title__link {
			a {
				color: rgb(74,74,74);
				text-decoration: underline;
			}
		}

		.foxtel-now-card__title__price {
			color: rgb(40, 40, 40);
		}
	}

	.foxtel-now-price-symbol {
		@include foxtel-now-price-symbol();
	}
}

@mixin foxtel-now-price-symbol() {
	sup {
		vertical-align: sub;
		padding-right: 5px;
	}
	sub {
		font-size: 10px;
		bottom: 0;
		left: -5px;
	}
}

@mixin foxtel-now-btn($radius) {
	border-style: hidden;
	display: block;
	border-radius: $radius;
	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    padding: 15px;
    color: black;
    background-color: $foxtel-now-green;
    cursor: pointer;
    width: 100%;
    text-align: center;
    &:hover {
    	text-decoration: none;
    	color: black;
    	opacity: 0.8;
    }
}

.border--top {
	border-top: 1px solid lightgrey;
}

.border--right {
	border-right: 1px solid lightgrey;
}

.border--bottom {
	border-bottom: 1px solid lightgrey;
}

.border--left {
	border-left: 1px solid lightgrey;
}

.border--bold {
	border-width: 2px;
}

.border--dark {
	border-color: rgb(74, 74, 74);
}

.foxtel-flex {
	display: -webkit-box;
	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.with-underline {
	text-decoration: underline;
}

.hidden {
	display: none !important;
}

.disabled {
	background-color: #b4b4b4 !important;
	cursor: default;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 992px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
  @else if $point == mobileOnly {
    @media (max-width: 767px)  { @content ; }
  }
}

// A subordinated style similar to h2
.h2-sub {
	font-weight: 400;
}

// Re-usable overlay modifier
.overlay {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.2;
		background: black;
	}
}

// A Corner ribbon
.ribbon-wrapper {
	$background-color: $foxtel-now-green;
	$font-color: white;

	z-index: 2;
	width: 170px;
	height: 120px;
	overflow: hidden;
	position: absolute;
	top: -2px;
	left: -2px;

	.ribbon {
		color: $foxtel-now-very-dark-grey;
		text-align: center;
		position: relative;
		padding: 7px 30px 7px 0;
		float: right;
		right: -5px;
		top: 15px;
		width: 230px;
		background-color: $background-color;
		transform: rotate(-45deg);

		&:before, &:after {
			content: "";
			border-top:   3px solid scale-lightness($background-color, -40%);
			border-left:  3px solid transparent;
			border-right: 3px solid transparent;
			position:absolute;
			bottom: -3px;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 0;
		}
	}
}

.foxtel-now-list {
	padding-left: 0;
	list-style: none;
	li {
		&:before {
			content: "\2022";
			color: rgb(47, 218, 110);
			font-size: 1.5em;
			padding-right: 10px;
		}
	}
}

.foxtel-now-list--inline {
	@extend .foxtel-now-list;
	display: flex;
	justify-content: space-between;
	li {
		display: inline;
	}
}
