/* Extend Bootstrap album.scss card class */

.foxtel-now-album {
	background: transparent;
}

.foxtel-now-card {
	@include foxtel-now-card();
	&.foxtel-now-price-symbol {
		@include foxtel-now-price-symbol();
	}
}

.foxtel-now-card--myaccount {
	@include foxtel-now-card();

	width: inherit;
	height: 204px;
	margin-bottom: 27px;
	text-align: center;

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    .foxtel-now-card--myaccount__content {
        >img {
            width: 80px;
            height: auto;
        }
        >p {
            text-align: center;
            margin-top: 20px;
        }

    }

    &.is-disabled {
        cursor: none;
        pointer-events: none;
        .foxtel-now-card--myaccount__content {
            >p {
                opacity: 0.5;
            }
        }
    }
}

.foxtel-now-card--basic {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;

	.foxtel-now-card__title {
		background-color: transparent;
	}
	.foxtel-now-card__title__price {
        font-size: $font-size--md;
    }
}