/* Extend Bootstrap album.scss card class */

.foxtel-now-album {
	background: transparent;
}

.foxtel-now-card {
	@include foxtel-now-card();
	&.foxtel-now-price-symbol {
		@include foxtel-now-price-symbol();
	}
	.foxtel-now-btn.enable {
		color: black;
	}
}

.foxtel-now-card--myaccount {
	@include foxtel-now-card();
	width: inherit;
	height: 204px;
	margin-left: 15px;
	margin-bottom: 27px;
	text-align: center;
}

.foxtel-now-card--basic {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;

	.foxtel-now-card__title {
		background-color: transparent;
	}
	.foxtel-now-card__title__price {
        font-size: $font-size--md;
    }
}