  .foxtel-now-cinematic-call-to-action {
    $vertical-rhythm: 20px;

    color: white;

    @include breakpoint(mobileOnly) {
      text-align: center;
    }

    h1 {
      font-size: 25px;
      margin-bottom: $vertical-rhythm;

      @include breakpoint(tablet) {
        font-size: 40px;
      }
    }

    h3 {
      font-size: 16px;
      margin-bottom: $vertical-rhythm;
      font-weight: 300;
    }

    a {
      background-color: $foxtel-now-pink;
      color: white;
    }
  }
