/* Styles for device list component */

.foxtel-now-device-container {
  $border-style: solid 1px $foxtel-now-light-grey;

  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  border: {
    top: $border-style;
    bottom: $border-style;
  }

  @include breakpoint(tablet) {
    padding: 0 100px;
  }

  .container-breakout {
    display: flex;
    flex-wrap: wrap;
  }

  .foxtel-now-device-wrapper {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: {
      right: $border-style;
      bottom: $border-style;
      left: $border-style;
    }
    margin-bottom: -1px;
    margin-left: -1px;
    padding: {
      top: 25px;
      bottom: 25px;
      left: 30px;
      right: 30px;
    }

    @include breakpoint(mobileOnly) {
      border: {
        left: none;
        right: none;
        bottom: none;
      }
    }

    a {
      border-bottom: 3px solid transparent;
      color: $foxtel-now-dark-grey;
      display: inline-block;
      padding-bottom: 3px;
    }

    .foxtel-now-device-image {
      $max-height: 50px;

      &:after {
        content: "";
        display: inline-block;
      }

      text-align: center;
      min-height: 60px;
      min-width: 70px;
      line-height: $max-height;

      img {
        max-width: 80px;
        max-height: $max-height;
      }
    }

    .foxtel-now-device-link {
      text-align: center;
      font-size: 12px;
    }

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow:    0 2px 8px 0 rgba(0, 0, 0, 0.2);
      box-shadow:         0 2px 8px 0 rgba(0, 0, 0, 0.2);

      a {
        border-bottom: 3px solid $foxtel-now-orange;
        text-decoration: none;
      }
    }
  }
}
