/* Styles for device list component */

.foxtel-now-device-container {
    padding: 50px 100px;
	.foxtel-now-device-wrapper {
		height: 121px;
		align-items: center;
		justify-content: center;
		border: solid 1px rgb(222, 222, 222);
		padding: 20px 50px;
		.foxtel-now-device-image {
		    text-align: center;
		    min-height: 60px;
		}
		.foxtel-now-device-link {
            text-align: center;
		}
		&:hover {
		    cursor: pointer;
		    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow:    0 2px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow:         0 2px 8px 0 rgba(0, 0, 0, 0.2);
		}
	}
}