/* Extend Bootstrap jumbotron class */

.foxtel-now-jumbotron {
	color: rgb(255, 255, 255);
	border-radius: 2px;
  	background-color: rgb(20, 20, 50);
  	padding-top: 20px;
  	padding-bottom: 20px;
  	box-shadow: 0 2px 2px 0 rgba(71, 80, 109, 0.2);
	-webkit-box-shadow: 2px 3px 10px 0px #ccc;
  	-moz-box-shadow:    2px 3px 10px 0px #ccc;
  	box-shadow:         2px 3px 10px 0px #ccc;
  	z-index: 9;
  	top: 0;
  	&.foxtel-now-jumbotron--pop {
        left: 0;
        right: 0;
     }
}

.foxtel-now-jumbotron--shopping-cart {
	.foxtel-now-jumbotron--shopping-cart__description,
	.foxtel-now-jumbotron--shopping-cart__summary {
		@media (max-width: 767px)  {
			display: table-row;
		}
	}

	.foxtel-now-jumbotron--shopping-cart__description {
	    padding: 0 20px 0 0;
	}

	.foxtel-now-jumbotron--shopping-cart__summary {
	    @include flexbox;
	    flex-direction: row;
        flex-wrap: inherit;
	}

	.foxtel-now-jumbotron--shopping-cart__description {
		float: left;
		.foxtel-now-jumbotron--shopping-cart__description-wrapper {
			display: table;
			.cart-title-wrapper {
				display: table-cell;
				@include breakpoint(mobileOnly){
				    display: table-row;
				}
				p {
					margin-right: 20px;
				}
			}
			.cart-item-wrapper {
				display: table-cell;
				.foxtel-now-jumbotron__pack-tag,
				.foxtel-now-jumbotron__pack-tag--ghost,
				.foxtel-now-jumbotron__pack-tag--transparent {
					display: inline-block;
					color: black;
					border-radius: 50px;
		  			background-color: rgb(255, 255, 255);
		  			padding: 10px 30px;
                    white-space: nowrap;
		  			sub {
		  				bottom: -5px;
		  				font-size: 36px;
		  				left: 10px;
		  				cursor: pointer;
		  				padding: 0 10px;
		  			}
                    &:hover {
                        sub {
                            background: $foxtel-now-light-grey;
                            border-radius: 1em;
                        }
                    }
				}
				.foxtel-now-jumbotron__pack-tag--ghost {
				    border: 1px dashed white;
				    background: transparent;
				    color: white;

				    &:hover {
				    	background: white;
				    	color: black;
				    	border: none;
				    	sub {
				    	    padding: 0 13px;
				    	}
				    }
				}
				.foxtel-now-jumbotron__pack-tag--transparent {
					display: none;
                    background: transparent;
                    color: white;
					padding: 10px;
				}
			}
		}
	}

	.foxtel-now-jumbotron--shopping-cart__summary {
		 border-left: solid 1px rgba(255, 255, 255, 0.2);
         @include breakpoint(mobileOnly){
             border: none;
             border-top: solid 1px rgba(255, 255, 255, 0.2);
         }
		.foxtel-now-jumbotron--shopping-cart__summary__total-cost,
		.foxtel-now-jumbotron--shopping-cart__summary__checkout {
			display: table;
			width: 100%;
			min-width: 258px;
			padding: 5px 0;
			sub {
				font-weight: normal;
				bottom: 0;
				font-size: 0.6em;
				margin-left: 0.5em;
			}

			sup {
				font-weight: normal;
			}

			p{
				display: table-cell;
			}

			p:last-child{
				text-align: right;
			}
		}
		.foxtel-now-jumbotron--shopping-cart__summary__total-cost {
			&.total {
			    font-family: $font-family--Bold;
			}
		}
		.foxtel-now-jumbotron--shopping-cart__summary__checkout {
			font-size: 18px;
		}
	}
}

.foxtel-now-jumbotron--minimized {
	.foxtel-now-jumbotron--shopping-cart__description {
	    width: 60%;
	    @include breakpoint(mobileOnly){
	        display: none;
	    }
		.foxtel-now-jumbotron--shopping-cart__description-wrapper {
			.cart-item-wrapper {
				.foxtel-now-jumbotron__pack-tag {
					display: none;
				}
				p:first-child,
				p:nth-child(2),
				p.foxtel-now-jumbotron__pack-tag--transparent {
					display: inline-block;
				}
			}
		}
	}
	.foxtel-now-jumbotron--shopping-cart__summary {
		.foxtel-now-jumbotron--shopping-cart__summary__total-cost {
		    display: none;
		    flex: 0 1 100%;

		    &.total {
                flex: 1 0 50%;
                @include flexbox;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
		    }
		    @include breakpoint(mobileOnly){
		        width: initial;
		        padding-top: 0;
		        padding-bottom: 0;
		        p {
		            margin-bottom: 0;
		        }
		    }
			p {
				display: inline-block;
			}
			p:last-child {
                white-space: nowrap;
			}
		}
		.foxtel-now-jumbotron--shopping-cart__summary__checkout {
            display: table-cell;
            flex: 1 0 50%;
            @include breakpoint(mobileOnly){
                .foxtel-now-btn {
                    margin-top: 15px;
                }
            }
		}

		.foxtel-now-jumbotron--shopping-cart__summary__total-cost,
		.foxtel-now-jumbotron--shopping-cart__summary__checkout {
            min-width: initial;
		}

	}
}
