.pack-content {
  background-color: $foxtel-now-blue;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  margin-bottom: 70px;

  h3,
  h4 {
    font-weight: 300;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 40px;
    color: lighten($foxtel-now-light-grey, 10%);
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      padding-left: 0;
      list-style: none;
      margin-bottom: 70px;

      .pack-content__item {
        border: 1px solid transparent;
        transition: margin-top 100ms linear;

        &.active {
          border-color: darken($grey-blue, 25%);
          margin-top: -30px;

          .pack-content__item__details {
            .pack-content__item__details__text {
              display: block;
            }
          }
        }

        h4,
        .pack-content__item__details__channel {
          font-size: 16px;
        }

        .pack-content__item__image {
          margin-bottom: 50px;

          img {
            max-width: 100%;
          }
        }

        .pack-content__item__details {
          padding: 0 10px 20px 10px;

          h4 {
            color: lighten($foxtel-now-light-grey, 10%);
          }

          .pack-content__item__details__channel,
          p {
            color: $foxtel-now-light-grey;
          }

          .pack-content__item__details__text {
            display: none;
          }

          .pack-content__item__details__channel {
            margin-bottom: 20px;
          }

          p {
            font-size: 14px;
            margin-bottom: 10px;
          }

          a {
            color: white;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
