/* Pack Summary styles */

.foxtel-now-pack-summary-container {
    font-family:"ProximaNova",arial,sans-serif;
  	font-size: 18px;
  	padding: 40px;
    @include breakpoint(mobileOnly){
        padding: 20px;
    }
  	color: rgb(102, 102, 102);
	.row {
		font-size: 22px;
	}
	.foxtel-now-pack-summary-container__pack-wrapper {
		.row {
			.foxtel-now-pack-summary-container__pack-wrapper__price {
				text-align: right;
			}
			sub {
				margin-top: -15px;
			}
		}
	}
}