.pack-content-programs {
  background-color: $foxtel-now-dark-grey;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
  margin-bottom: 70px;

  h3,
  h4 {
    font-weight: 300;
  }

  h3 {
    font-size: 16px;
    color: lighten($foxtel-now-light-grey, 10%);
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      margin-bottom: 40px;
    }
  }

  .pack-content__item {
    position: relative;
    margin-bottom: 20px;

    .pack-content__item__inner {
      border: 1px solid transparent;
      transition: margin-top 100ms linear;
      background-color: $foxtel-now-dark-grey;

      &.is-active {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        border-color: darken($grey-blue, 25%);
        margin-top: -30px;

        .pack-content__item__details {
          height: auto;

          .pack-content__item__description,
          .pack-content__item__link {
            display: block;
          }
        }

        .pack-content__item__image {
          margin-bottom: 30px;
        }
      }

      h4,
      .pack-content__item__channel,
      .pack-content__item__description {
        font-size: 12px;

        @include breakpoint(laptop) {
          font-size: 14px;
        }
      }

      .pack-content__item__image {
        margin-bottom: 20px;
        transition: margin-bottom 75ms linear;

        img {
          max-width: 100%;
        }
      }

      .pack-content__item__details {
        height: 80px;

        @include breakpoint(tablet) {
          padding: 0 10px 20px 10px;
          height: 110px;
        }

        h4 {
          color: lighten($foxtel-now-light-grey, 10%);
          margin-bottom: 5px;
        }

        .pack-content__item__channel,
        p {
          color: $foxtel-now-light-grey;
        }

        .pack-content__item__description,
        .pack-content__item__link {
          display: none;
        }

        .pack-content__item__description,
        .pack-content__item__channel {
          opacity: 0.7;
        }

        .pack-content__item__channel {
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          margin-bottom: 10px;
        }

        a {
          color: white;
          text-decoration: underline;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &:after {
            display: inline-block;
            content: " ";
            background-image: url(/content/dam/now/Icons/arrow-right-white.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 11px;
            height: 11px;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
