/* Pack Summary styles */

.foxtel-now-pack-summary-container {
    font-family:"ProximaNova",arial,sans-serif;
  	font-size: 18px;
  	padding: 40px;
  	color: rgb(102, 102, 102);
	.row {
		font-size: 22px;
		.col:last-child {
			p {
				text-align: right;
			}
		}
	}
	.foxtel-now-pack-summary-container__row {
		.foxtel-now-pack-summary-container__row__package-info {
			font-size: 14px;
		}
	}

}