/* View my bills component related class */

.foxtel-now-view-my-bill-wrapper {
    margin-top: 30px;
    .foxtel-now-bill-history-template-container {
        margin-top: 30px;
        .foxtel-now-view-my-bills-container {
            display: table;
            width: 40%;
            .foxtel-now-view-my-bills-container__th {
                p {
                    font-weight: bold;
                }
            }
            .foxtel-now-view-my-bills-container__row {
                display: table-row;
                cursor: pointer;
                &:hover {
                   background-color: #f0edeb;
                }
                p {
                    display: table-cell;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    &:last-child {
                        a {
                            cursor: pointer;
                            color: black;
                            border-bottom: 1px solid lightgrey;
                        }
                    }
                }
            }
        }
    }
}