/* Styles for welcome message */

.foxtel-now-welcome-message-wrapper {
	text-align: left;
	@include breakpoint(mobileOnly) {
        text-align: center;
    }
	max-width: 500px;
	color: #fff;
	h1 {
		font-weight: bold;
	}
	.foxtel-now-welcome-message-wrapper__title,
	.foxtel-now-welcome-message-wrapper__links {
		margin-top: 15px;
		.foxtel-now-btn {
			max-width: 308px;
			margin-bottom: 30px;
			@include breakpoint(mobileOnly) {
                margin-left: auto;
                margin-right: auto;
            }
		}
		.foxtel-now-logo-wrapper {
		    display: flex;
		    justify-content: flex-start;

		    @include breakpoint(mobileOnly) {
                justify-content: space-around;
            }
            img {
                width: 120px;

                @include breakpoint(tablet) {
                    width: 165px;
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
		}
	}

	.foxtel-now-welcome-message-wrapper__title {
		margin-bottom: 30px;
	}
}
