/******************************************
Colour scss placeholders
&
Colour classes for Producers (will add to the new Style Guide in the future)
******************************************/

.color--brand, %color--brand{
  color:$color--brand !important;
}
.color--body, %color--body{
  color:$color--body !important;
}
.color--white, %color--white{
  color:$color--white !important;
}