
/*********************
FORM VARIABLE
*********************/
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

/* Form classes */

.foxtel-now-form-container {
  font-family:"ProximaNova",arial,sans-serif;
  font-size: 18px;
  color: rgb(102, 102, 102);
  padding: 40px;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);

	.foxtel-now-form-container__tab-group {
	  list-style:none;
	  padding:0;
	  margin:0 0 40px 0;
	  &:after {
	    content: "";
	    display: table;
	    clear: both;
	  }
	  li a {
	    display:block;
	    text-decoration:none;
	    padding:15px;
	    background:rgba($gray-light,.25);
	    color:$gray-light;
	    font-size:20px;
	    float:left;
	    width:50%;
	    text-align:center;
	    cursor:pointer;
	    transition:.5s ease;
	    &:hover {
	      background:$main-dark;
	      color:$white;
	    }
	  }
	  .active a {
	    background:$main;
	    color:$white;
	  }
	}

	label {
	  position:absolute;
	  transform:translateY(6px);
	  left:13px;
	  top: 7px;
	  color: lightgrey;
	  transition:all 0.25s ease;
	  -webkit-backface-visibility: hidden;
	  pointer-events: none;
	  .req {
	  	margin:2px;
	  	color:$main;
	  }
	}

	label.active {
	  transform:translateY(-5px);
	  left:12px;
	  font-size:12px;
	  .req {
	    opacity:0;
	  }
	}

	input, textarea {
	  background:none;
	  background-image:none;
	  border: solid 0.5px rgb(153, 153, 153);
	  border-radius:0;
	  line-height: 2.25;
	  transition:border-color .25s ease, box-shadow .25s ease;
	  &:focus {
			outline:0;
			border-color:$main;
	  }
	}

	input[type='checkbox'] {
		width: 45px;
		height: 45px;
		&~label {
			left: 60px;
		}
	}

	textarea {
	  border:2px solid $gray-light;
	  resize: vertical;
	}

	.field-wrap {
	  position:relative;
	  margin-bottom:20px;
	}

	.two-column {
	  justify-content: space-between;
	}

	.button {
	  border:0;
	  outline:none;
	  border-radius: 5rem;
	  padding:15px 0;
	  font-weight:$bold;
	  text-transform:uppercase;
	  letter-spacing:.1em;
	  background:$main;
	  color:$white;
	  transition:all.5s ease;
	  -webkit-appearance: none;
	  &:hover, &:focus {
	    background:$main-dark;
	  }
	}

	.button-block {
	  display:block;
	  width:100%;
	}

	.forgot {
	  margin-top:-20px;
	  text-align:right;
	}	
}