.seperator {
  width: 30px;
  height: 1px;
  opacity: 0.3;
  background-color: #ffffff;
}
.seperator-left--1 { margin-left: 4.5px; }
.seperator-left--2 { margin-left: 9px; }
.seperator-left--3 { margin-left: 18px; }
.seperator-left--4 { margin-left: 27px; }
.seperator-left--5 { margin-left: 54px; }

.seperator-right--1 { margin-right: 4.5px; }
.seperator-right--2 { margin-right: 9px; }
.seperator-right--3 { margin-right: 18px; }
.seperator-right--4 { margin-right: 27px; }
.seperator-right--5 { margin-right: 54px; }

.seperator-top--1 { margin-top: 4.5px; }
.seperator-top--2 { margin-top: 9px; }
.seperator-top--3 { margin-top: 18px; }
.seperator-top--4 { margin-top: 27px; }
.seperator-top--5 { margin-top: 54px; }

.seperator-bottom--1 { margin-bottom: 4.5px; }
.seperator-bottom--2 { margin-bottom: 9px; }
.seperator-bottom--3 { margin-bottom: 18px; }
.seperator-bottom--4 { margin-bottom: 27px; }
.seperator-bottom--5 { margin-bottom: 54px; }
