/* Define foxtel typography */

.foxtel-font-size-1 {
	font-size: 2.5em;
}

.foxtel-font-size-2 {
	font-size: 2em;
}

.foxtel-font-size-3 {
	font-size: 1.75em;
}

.foxtel-font-size-4 {
	font-size: 1.5em;
}

.foxtel-font-size-5 {
	font-size: 1.25em;
}

.foxtel-font-size-6 {
	font-size: 1em;
}