/*********************
FONT FACE
*********************/
@mixin build-font-face($font-family, $file-name) {
	$file-path: "/etc/designs/foxtel/assets/fonts/proxima-nova/";
	@font-face {
		font-family: "#{$font-family}";
		src: url($file-path + $file-name + ".eot?#iefix") format('embedded-opentype'),
		url($file-path + $file-name + ".woff") format('woff'),
		url($file-path + $file-name + ".ttf")  format('truetype'),
		url($file-path + $file-name + ".svg#wf") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

@include build-font-face("ProximaNova", "ProximaNova-Reg-webfont");
@include build-font-face("ProximaNova-Thin", "ProximaNova-Thin-webfont");
@include build-font-face("ProximaNova-Light", "ProximaNova-Light-webfont");
@include build-font-face("ProximaNova-Bold","ProximaNova-Bold-webfont");

/*********************
FONT VARIABLE
*********************/
$font-size--xl:   76px;
$font-size--lg:   47px;
$font-size--md:   29px;
$font-size--base: 18px;
$font-size--sm:   12px;

$font-family--regular	:"ProximaNova", arial, sans-serif;
$font-family--Thin		:"ProximaNova-Thin", arial, sans-serif;
$font-family--Light		:"ProximaNova-Light", arial, sans-serif;
$font-family--Bold		:"ProximaNova-Bold", arial, sans-serif;


/******************************************
Typography classes for Producers
will add to the new Style Guide in the future
******************************************/
.font-family--regular{
	font-family: $font-family--regular;
}
.font-family--Thin{
	font-family: $font-family--Thin;
}
.font-family--Light{
	font-family: $font-family--Light;
}
.font-family--Bold{
	font-family: $font-family--Bold;
}
.font-size--xl{
	font-size:$font-size--xl;
}
.font-size--lg{
	font-size:$font-size--lg;
}
.font-size--md{
	font-size:$font-size--md;
}
.font-size--base{
	font-size:$font-size--base;
}
.font-size--sm{
	font-size:$font-size--sm;
}

/******************************************
Predefine body font family
******************************************/
body {
    font-family:"ProximaNova",arial,sans-serif;
}