/*********************
font face
*********************/
@include build-font-face("ProximaNova", "ProximaNova-Reg-webfont");
@include build-font-face("ProximaNova-Thin", "ProximaNova-Thin-webfont");
@include build-font-face("ProximaNova-Light", "ProximaNova-Light-webfont");
@include build-font-face("ProximaNova-semibold", "ProximaNova-Sbold-webfont");
@include build-font-face("ProximaNova-Bold","ProximaNova-Bold-webfont");

/******************************************
Typography scss placeholders
&
Typography classes for Producers (will add to the new Style Guide in the future)

Defined 5 types plus 4 bold style based on the Typography guide provided by Vane,
They will be all Typography we use for the site based on the discussion with Vane.
Please don't add anymore.
******************************************/

.font--xl, %font--xl{
	font-family: $font-family--Thin;
	font-size:$font-size--xl;
	letter-spacing: -2px;
}
.font--lg, %font--lg{
	font-family: $font-family--regular;
	font-size:$font-size--lg;
	letter-spacing: -0.5px;
}
.font--md, %font--md{
	font-family: $font-family--regular;
	font-size:$font-size--md;
	letter-spacing: -0.25px;
}
.font--base, %font--base{
	font-family: $font-family--regular;
	font-size:$font-size--base;
}
.font--sm, %font--sm{
	font-family: $font-family--regular;
	font-size:$font-size--sm;
}
.font--lg--bold, %font--lg--bold{
	font-family: $font-family--Bold;
	font-size:$font-size--lg;
	letter-spacing: -0.5px;
}
.font--md--bold, %font--md--bold{
	font-family: $font-family--Bold;
	font-size:$font-size--md;
	letter-spacing: -0.25px;
}
.font--base--bold, %font--base--bold{
	font-family: $font-family--Bold;
	font-size:$font-size--base;
}
.font--sm--bold, %font--sm--bold{
	font-family: $font-family--Bold;
	font-size:$font-size--sm;
}

.line-height--110{
	line-height:110%;
}