/*********************
font variables
*********************/
$font-size--xl:   76px;
$font-size--lg:   47px;
$font-size--md:   29px;
$font-size--base: 18px;
$font-size--sm:   12px;

$font-family--regular	:"ProximaNova", arial, sans-serif;
$font-family--Thin		:"ProximaNova-Thin", arial, sans-serif;
$font-family--Light		:"ProximaNova-Light", arial, sans-serif;
$font-family--Bold		:"ProximaNova-Bold", arial, sans-serif;

/*********************
color variables
*********************/
$color--white: #fff;
$color--black: #0a0a0a;
$color--orange: #f54e13;
$color--grey-ccc: #ccc;
$color--grey-efefef: #efefef;