/*********************
font variables
*********************/
$font-size--xl:   76px;
$font-size--lg:   47px;
$font-size--md:   29px;
$font-size--base: 18px;
$font-size--sm:   12px;

$font-family--regular	:"ProximaNova", arial, sans-serif;
$font-family--Thin		:"ProximaNova-Thin", arial, sans-serif;
$font-family--Light		:"ProximaNova-Light", arial, sans-serif;
$font-family--Bold		:"ProximaNova-Bold", arial, sans-serif;

/*********************
color variables
*********************/
$color--brand: #ff5050;
$color--body: #32323c;
$color--white: #fff;
$color--transparent: transparent;
$color--grey-efefef: #efefef;
$color--grey-bec0c2: #bec0c2;
$color--grey-f0edeb: #f0edeb;

/****************************
grid breakpoints variables
****************************/
//$grid-breakpoints: (
//  xs: 0,
//  sm: 576px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px
//) !default;