.foxtel-breadcrumb{
  width:100%;
  border:1px solid rgba(255, 255, 255, 0.25);
  font-family:"ProximaNova",arial,sans-serif;
  font-size:14px;
  background:#000;
  border-bottom:1px solid rgba(255, 255, 255, 0.25);
  a:hover, a:focus{
    text-decoration:none;
  }
}
.foxtel-breadcrumb__nav{
  display: flex;
  li{
    list-style-type: none;
    &:after{
      content:">";
      color:#fff;
      margin:0 10px;
    }
    &:last-child{
      &:after{
        content:"";
      }
      a{
        border-bottom:3px solid #fff;
      }
    }
    a{
      color:#fff;
      display:inline-block;
      margin-top:13px;
      padding-bottom:13px;
      &:hover{
        text-decoration:none;
      }
    }
  }
}