/*********************
FONT
*********************/

@font-face {
  font-family: "ProximaNova";
  src: url('https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/assets/fonts/proxima-nova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/assets/fonts/proxima-nova/ProximaNova-Reg-webfont.woff') format('woff'),
  url('https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/assets/fonts/proxima-nova/ProximaNova-Reg-webfont.ttf') format('truetype'),
  url('https://www-sit3.aws.foxtel.com.au/etc/designs/foxtel/assets/fonts/proxima-nova/ProximaNova-Reg-webfont.svg#wf') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*********************
MIXIN
*********************/

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 992px) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 576px)  { @content ; }
  }
  @else if $point == mobileOnly {
    @media (max-width: 575px)  { @content ; }
  }
}

@mixin make-foxtel-container{
  width:100%;
  @include breakpoint(mobileOnly){
    padding:0 15px;
  }
  @include breakpoint(tablet) {
    width:720px;
  }
  @include breakpoint(laptop) {
    width:960px;
  }
  @include breakpoint(desktop) {
    width:1140px;
  }
}

/*********************
COMMON STYLE
*********************/
.foxtel-container{
  @include make-foxtel-container();
  margin:0 auto;
}