.foxtel-fat-footer{
  font-family:"ProximaNova",arial,sans-serif;
  font-size: 18px;
  padding: 20px;
}

.foxtel-fat-footer__column{
  float:left;
  min-width: 180px;
  @include breakpoint(tablet) {
    margin-right:45px;
    min-width: inherit;
  }
  @include breakpoint(desktop) {
    margin-right:60px;
  }
  &:last-child{
    margin-right:0;
  }
}

.foxtel-fat-footer__column__title{
  color: #454545;
  opacity: 0.5;
}

.foxtel-fat-footer__list{
  li{
    margin-bottom:15px;
    a{
      color: #454545;
    }
  }
}