.foxtel-fat-footer{
  font-family:"ProximaNova",arial,sans-serif;
  font-size: 18px;
  background-color: #0a0a0a;
  padding-top:40px;
}

.foxtel-fat-footer__column{
  display:inline-block;
  vertical-align:top;
  @include breakpoint(mobileOnly) {
    width:46%;
    margin-right:6%;
    &:nth-child(even){
      margin-right:0;
    }
  }
  @include breakpoint(tablet) {
    margin-right:45px;
  }
  @include breakpoint(desktop) {
    margin-right:60px;
  }
  &:last-child{
    margin-right:0;
  }
}

.foxtel-fat-footer__column__title{
  color: #ccc;
  opacity: 0.5;
  margin-bottom:20px;
}

.foxtel-fat-footer__list{
  padding:0;
  font-family:"ProximaNova-Bold",arial,sans-serif;
  li{
    list-style:none;
    margin-bottom:15px;
    line-height:110%;
    a{
      color: #fff;
    }
    &:last-child{
      margin-bottom:36px;
    }
  }
}