.foxtel-footer{
  font-family:"ProximaNova",arial,sans-serif;
  font-size: 12px;
}
.foxtel-footer__copyright{
  color:#fff;
  margin-right:60px;
}
.foxtel-footer__nav{
  li{
    list-style-type:none;
    padding:0;
    margin-right:15px;
    a{
      color:#fff;
    }
  }
}