.foxtel-header-breadcrumb-wrapper{
  background: grey;
}

/*foxtel header breadcrumb scrolling up pop state*/
.foxtel-header-breadcrumb--pop {
  position: fixed;
  left:0;
  right:0;
  background-color: #222;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

/* Foxtel header styles */

.foxtel-header{
  display:flex;
  justify-content: space-between;
  font-size:18px;
  color:#fff;
  height:75px;
  font-family:"ProximaNova",arial,sans-serif;
  font-weight:bold;
  align-items: center;
  border-bottom:1px solid rgba(255, 255, 255, 0.25);
  a:hover, a:focus{
    text-decoration:none;
  }
}
.foxtel-header__left{
  display:flex;
}
.foxtel-header__left__logo{
  margin-right:20px;
  @include breakpoint(tablet) {
    margin-right:45px;
  }
  img{
    height: 47px;
  }
}
.foxtel-header__left__nav{
  display:flex;
  align-items: center;
  list-style-type:none;
  margin:0;
  padding-left:0;
  >li{
    margin-right:20px;
    @include breakpoint(tablet) {
      margin-right:45px;
    }
    >a{
      color:#fff;
    }
  }
}
.foxtel-header__left__nav__more{
  position:relative;
  @include breakpoint(tablet) {
    display:none;
  }
  &:hover{
    ul{
      display:block;
    }
  }
}
.foxtel-header__left__nav__more__dropdown{
  position:absolute;
  left:0;
  top:50px;
  padding:0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  display:none;
  >li{
    list-style-type: none;
    >a{
      color: #191919;
      white-space: nowrap;
      padding:15px;
      border-bottom:1px solid #efefef;
      display:block;
      &:hover{
        color: #191919;
      }
    }
  }
}
.foxtel-header__right{
  display:none;
  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
  }
}
.foxtel-header__right__logout{
  a{
    color:#fff;
    margin-right:15px;
    &:hover{
      color:#fff;
    }
  }
}
.foxtel-header__right__divider{
  width: 1px;
  height: 30px;
  background-color: #979797;
  margin-right:15px;
}
.foxtel-header__right__search{
  color: #ffffff;
  opacity:0.5;
  font-weight:normal;
}