.foxtel-header-breadcrumb-wrapper{
  background: #fff;
  width:100%;
}

/*foxtel header breadcrumb scrolling up pop state section*/

.foxtel-header-breadcrumb--pop {
  left:0;
  right:0;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
  z-index:1000;
}

/* Foxtel header styles */

.foxtel-header{
  display:flex;
  justify-content: space-between;
  font-size:18px;
  color:#0a0a0a;
  height:75px;
  font-family:"ProximaNova-Bold",arial,sans-serif;
  align-items: center;
  border-bottom:1px solid #efefef;
  a, a:hover, a:focus{
    text-decoration:none;
  }
}
.foxtel-header__left{
  display:flex;
}
.foxtel-header__left__logo{
  display: flex;
  align-items: center;
  margin-right:20px;
  @include breakpoint(tablet) {
    margin-right:45px;
  }
}
.foxtel-header__left__logo__symbol{
  width:34.9px;
  height:46.8px;
}
.foxtel-header__left__logo__text{
  display: none;
  width: 74px;
  height: 24px;
  margin-left: 7px;
  @include breakpoint(laptop) {
    display:inline-block;
  }
}
.foxtel-header__left__nav{
  display:flex;
  align-items: center;
  list-style-type:none;
  margin:0;
  padding-left:0;
  >li{
    margin-right:20px;
    @include breakpoint(tablet) {
      margin-right:45px;
    }
    >a{
      color:#0a0a0a;
    }
  }
}
.foxtel-header__left__nav__more {
  position:relative;
  margin-right:0 !important;
  @include breakpoint(tablet) {
    display:none;
  }
  &:hover{
    ul{
      display:block;
    }
  }
}
.foxtel-header__left__nav__more__text{
  display:flex;
  align-items: center;
  &:after{
    content:url($header-footer-image-path + "arrow-bottom-solid.svg");
  }
}
.foxtel-header__left__nav__more__dropdown{
  position:absolute;
  right:0;
  top:70px;
  padding:0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 7;
  display:none;
  >li{
    list-style-type: none;
    >a{
      color: #191919;
      white-space: nowrap;
      padding:15px;
      border-bottom:1px solid #efefef;
      display:flex;
      align-items:center;
      &:hover{
        color: #191919;
      }
    }
  }

  @include breakpoint(mobileOnly) {
    top: 50px;
  }

}
.foxtel-header__left__nav__more__dropdown__logged-in{
  &:after{
    display: inline-block;
    content: "";
    background: url($header-footer-image-path + "icon-avatar.svg") no-repeat 0 0;
    width: 15px;
    height:15px;
    background-size: 100%;
    margin-left:10px;
  }
}
.foxtel-header__right{
  display:none;
  height: 100%;
  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
  }
}
.foxtel-header__right__tv-guide{
  @extend .foxtel-header__btn--white;
}
.foxtel-header__right__login{
  @extend .foxtel-header__btn--black;
}

.foxtel-header__right__login__wrapper{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  .foxtel-header__right__logout__dropdown {
    @extend .foxtel-header__left__nav__more__dropdown;
    display: none;

    >li>a {
        padding: 15px 38px;
    }

  }

  &.active{
    &:hover{
      .foxtel-header__right__logout__dropdown {
        display: inline-block;
      }
    }
  }

}

#logged-in,
#logged-in-m{
  input {
    background-color: transparent;
    border: none;
    font-family: inherit;
    color: #191919;
    white-space: nowrap;
    padding: 15px 38px;
    border-bottom: 1px solid #efefef;
    display: flex;
    cursor: pointer;
    width: 100%;
    @include breakpoint(mobileOnly) {
        padding: 15px;
    }
  }
}

.foxtel-header__right__logged-in{
  margin-right: 28px;
  display: flex;
  align-items: center;
  color:#0a0a0a;
  height: 100%;
  position: relative;

  &:hover{
    color:#0a0a0a;
  }
  &:after{
    display: inline-block;
    content: "";
    background: url($header-footer-image-path + "icon-avatar.svg") no-repeat 0 0;
    width: 15px;
    height:15px;
    background-size: 100%;
    margin-left:10px;
  }
  &:before {
    content: url($header-footer-image-path + "arrow-bottom-solid.svg");
    position: absolute;
    right: -20px;
    top: 25px;
  }
}
.foxtel-header__right__divider{
  width: 1px;
  height: 30px;
  background-color: #979797;
  margin-right:15px;
}
.foxtel-header__right__search{
  color: #999;
  font-family: "ProximaNova", arial, sans-serif;
  display:flex;
  align-items: center;
  &:before{
    display: inline-block;
    content: "";
    background: url($header-footer-image-path + "icon-search.svg") no-repeat 0 0;
    width: 25px;
    height:25px;
    background-size: 100%;
    margin-right:15px;
    color:#0a0a0a;
  }
}