/* Foxtel header styles */

.foxtel-header{
  display:flex;
  justify-content: space-between;
  font-size:18px;
  background: #181818;
  color:#fff;
  height:75px;
  font-family:"ProximaNova",arial,sans-serif;
  font-weight:bold;
  align-items: center;
  border-bottom:1px solid rgba(255, 255, 255, 0.25);
  a:hover, a:focus{
    text-decoration:none;
  }
}
.foxtel-header__left{
  display:flex;
}
.foxtel-header__left__logo{
  margin-right:20px;
  @include breakpoint(tablet) {
    margin-right:45px;
  }
}
.foxtel-header__left__nav{
  display:flex;
  list-style-type:none;
  margin:0;
  padding-left:0;
  >li{
    margin-right:20px;
    @include breakpoint(tablet) {
      margin-right:45px;
    }
    >a{
      color:#fff;
    }
  }
}
.foxtel-header__left__nav__more{
  position:relative;
  @include breakpoint(tablet) {
    display:none;
  }
  &:hover{
    ul{
      display:block;
    }
  }
}
.foxtel-header__left__nav__more__dropdown{
  position:absolute;
  left:0;
  top:50px;
  padding:0;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  display:none;
  >li{
    list-style-type: none;
    >a{
      color: #191919;
      white-space: nowrap;
      padding:15px;
      border-bottom:1px solid #efefef;
      display:block;
      &:hover{
        color: #191919;
      }
    }
  }
}
.foxtel-header__right{
  display:none;
  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
  }
}
.foxtel-header__right__login{
  a{
    height: 52px;
    border-radius: 2px;
    justify-content: center;
    align-items:center;
    background-color: #ffffff;
    color:#3a3a3a;
    padding-left:20px;
    padding-right:20px;
    margin-right:15px;
    &:hover{
      color:#3a3a3a;
    }
  }
}
.foxtel-header__right__logout{
  a{
    color:#fff;
    margin-right:15px;
    &:hover{
      color:#fff;
    }
  }
}
.foxtel-header__right__tv-guide{
  a{
    height: 52px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    align-items:center;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-right:15px;
    &:hover{
      color:#fff;
    }
  }
}
.foxtel-header__right__divider{
  width: 1px;
  height: 30px;
  background-color: #979797;
  margin-right:15px;
}
.foxtel-header__right__search{
  color: #ffffff;
  opacity:0.5;
  font-weight:normal;
}