.foxtel-banner{
  position:relative;
  overflow: hidden;
}
.foxtel-banner__image{
  display:flex;
  justify-content: center;
}
.foxtel-banner__content{
  width:100%;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.foxtel-banner__content--vCenter{
  width:100%;
  padding-top:60px;
  @media (min-width: 768px) {
    padding-top:0;
  }
}
.foxtel-banner__content--vBtm{
  width:100%;
  position:absolute;
  left:0;
  bottom:0;
}