/* Extend Bootstrap album.scss card class */

.foxtel-now-album {
	background: transparent;	
}

.foxtel-now-card {
	@include foxtel-now-card();
}

.foxtel-now-card--orange {
	.foxtel-now-card__title {
		background-color: orange;
	}
	.foxtel-now-card__cta--add-to-card {
		color: orange;
	}
}

.foxtel-now-card--crimson {
	.foxtel-now-card__title {
		background-color: crimson;
	}
	.foxtel-now-card__cta--add-to-card {
		color: crimson;
	}
}

.foxtel-now-card--purple {
	.foxtel-now-card__title {
		background-color: purple;
	}
	.foxtel-now-card__cta--add-to-card {
		color: purple;
	}
}

.foxtel-now-card--yellowgreen {
	.foxtel-now-card__title {
		background-color: yellowgreen;
	}
	.foxtel-now-card__cta--add-to-card {
		color: yellowgreen;
	}
}

.foxtel-now-card--basic {
	.foxtel-now-card__title {
		background-color: transparent;
	}
	.foxtel-now-card__cta--add-to-card {
		color: yellowgreen;
	}
	.foxtel-now-card__title .foxtel-now-card__title__name,
	.foxtel-now-card__title .foxtel-now-card__title__price {
		color: grey;
	}
}