.channel-pack-combos {
  width: 300px;
  height: 302px;
  border-radius: 1px;
  background-color: $color--white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  margin-bottom: 30px;

  .channel-pack-combos-square{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -16px;
    text-align: center;
    line-height: 32px;
    width: 116px;
    height: 32px;
    border-radius: 1px;
    background-color: $color--white;

    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  }
  .channel-pack-combos__top {
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .channel-pack-combos__top__headline {
      font-size: $font-size--md;
      color: $color--body;
    }
    .channel-pack-combos__top__price {
      font-size: $font-size--base;
      font-weight: bold;
      color: $color--body;
      letter-spacing: -1px;
    }
  }
  .channel-pack-combos__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    height: 67px;
    background-color: $color--body;
    .channel-pack-combos__middle__offer {
      font-size: $font-size--sm;
      color: $color--brand;
    }
    .channel-pack-combos__middle__detail {
      font-size: $font-size--base;
      color: $color--white;
    }
  }
  .channel-pack-combos__bottom {
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .channel-pack-combos__bottom__btn {
      font-size: $font-size--base;
      font-weight: bold;
      margin-top: 25px;
    }
    a {
      line-height: 42px;
      text-decoration: none;
      display: inline-block;
      height: 42px;
      border-radius: 100px;
    }
    a.channel-pack-combos__bottom__btn1 {
      color: $color--body;
      width: 133px;
      border: solid 1px #bec0c2;
    }
    a.channel-pack-combos__bottom__btn2 {
      color: $color--white;
      width: 69px;
      background-color: $color--brand;
    }

    a.channel-pack-combos__build-yours {
      color: $color--white;
      width: 151px;
      height: 42px;
      border-radius: 100px;
      background-color: $color--brand
    }

    .channel-pack-combos__bottom__desc {
      font-size: $font-size--sm;
      color: #bec0c2;
      padding-left:  30px;
      padding-right: 30px;
    }
  }
  .channel-pack-combos-highlight {
    background-color: $color--body;
    &.channel-pack-combos__top {
      color: $color--white;
    }
    &.channel-pack-combos__bottom {
      color: $color--white;
    }
  }

  .channel-pack-combos__build-yours {
    height: 55%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
  }
}