.home-feature-block{
  position:relative;
  width:100%;
  height:465px;
  background-position: left top;
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.home-feature-block__content--vCenter{
  width:100%;
  padding:60px 15px 0 15px;
  @media (min-width: 768px) {
    padding-top:0;
    padding-left:30px;
    padding-right:30px;
  }
}
.home-feature-block__content--vBtm{
  width:100%;
  position:absolute;
  left:0;
  bottom:0;
  padding:0 15px;
  @media (min-width: 768px) {
    padding:0 30px;
  }
}

.shop-feature-block{
  .container{
    .border{
      border: 1px solid red;
    }
  }
}

.shop-feature-block__image{
  width:100%;
}