.info-bar-wrapper {
    background: rgb(47,218,110);
    padding: 15px 100px;
    .info-bar-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info-bar-content {
            span {
                margin-right: 20px;
            }
        }
    }
}