.iq-nav {
  height: 60px;
  line-height: 60px;
  font-size: $font-size--base;
  font-weight: bold;
  text-align: center;
  background-color: $color--white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 767px) { display: none; }

  a {
    margin-left: 30px;
    margin-right: 30px;
    max-height: 100%;
    display: inline-block;
    color: $color--body;
    text-decoration: none;

    &.active {
      border-bottom: 3px solid $color--body;
    }
  }
}
#iq-cpc, #iq-stb {
  background-color: $color--grey-f0edeb;
}

#iq-incl, #iq-cmp {
  background-color: $color--white;
}