.meta-data__desc {
    font-size: $font-size--sm;
    a{
        font-family: $font-family--Bold;
        color:$color--white;
        text-decoration: underline;
    }
}

.meta-data--h {
    display: table-row;
    width: 100%;
    margin-bottom: 20px;
    .meta-data__icon {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 20px;
        img {
           margin-right: 20px;
        }
    }
    .meta-data__desc {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 20px;
    }
}

.meta-data--v {
    display: block;
    margin-bottom: 20px;
    .meta-data__desc {
        margin-top: 20px;
    }
}

.meta-data-hide-in-mobile {
   @media (max-width: 767px) { font-size: $font-size--md; }
}