/* Pack Summary styles */

.foxtel-pack-summary-container {
	.row {
		padding: 15px 0;
		font-size: 22px;
		.col:last-child {
			p {
				text-align: right;
			}
		}
	}
	.foxtel-pack-summary-container__row {
		.foxtel-pack-summary-container__row__package-info {
			font-size: 14px;
		}
	}

}