.toast-popup {
  border-bottom: 1px solid $color--white;
  color: $color--white;
  text-align: center;
  line-height: 80px;
  height: 80px;
  background-color: $color--body;
  @media (max-width: 1024px) {
    visibility: hidden;
    display: none;
  }

  &.toast-popoup--fixed {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  &.toast-popoup--static {
     display: block;
     @media (max-width: 1024px) {
       visibility: hidden;
       display: none;
     }
  }
  .toast-popup__btn {
    display: inline-block;
    font-family: ProximaNova;
    font-size: $font-size--base;
    font-weight: bold;
    text-align: center;
    color: $color--white;
    width: 185px;
    height: 52px; border-radius: 100px; background-color: $color--brand;
    line-height: 52px;
    margin-left: 20px;

    a, a:hover {
      color: $color--white;
      text-decoration: none;
    }
  }
}