@mixin make-btn ($color, $background){
  color:$color;
  background-color:$background;
  padding:15px 30px;
  border-radius: 100px;
  font-family: $font-family--Bold;
  &:hover{
    color:$color;
    text-decoration: none;
  }
}