@mixin make-btn ($color, $background){
  display:inline-block;
  color:$color;
  background-color:$background;
  padding:15px 30px;
  border-radius: 100px;
  font-family: $font-family--Bold;
  text-decoration: none !important;
  &:hover, &:visited{
    color:$color;
    text-decoration: none;
  }
}