@import "../core-components/color";
@import "../../../../header-footer/common";
// HEADING FIX:  NO foxtel-header-breadcrumb-wrapper CLASS REQUIRED
.foxtel-now-header{
  height: 70px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;

  &.is-loaded {
    transition: opacity 100ms ease-in;
    opacity: 1.0;
  }

  &.is-logged-in {
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;

    .menu-bar {
      .left-section {
        .menu-item {
          @include breakpoint(tablet) {
            display: inline-block;
          }
        }
      }

      .right-section {
        .settings {
          display: inline-block;
        }

        .foxtel-now-header__btn-container {
          display: none;
        }
      }
    }
  }

  &.log-in {
    .menu-bar {
      .right-section {
        .foxtel-now-header__btn-container {
          display: none;
        }
      }
    }
  }

  .menu-bar {
    font-family: "ProximaNova", arial, sans-serif;
    min-width: 300px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .left-section {
      display: inline-block;
      font-size: 0;

      .logo {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        float: left;
        margin-right: 25px;

        .wysiwyg {
          p {
            margin-bottom: 0;

            img {
              height: 45px;
              width: 156px;
              padding-bottom: 5px;
            }
          }
        }
      }

      .menu-item {
        display: none;
        color: #9b9b9b;
        cursor: pointer;
        padding: 0;
        margin: 0 25px;
        font-size: 18px;
        position: relative;
        height: 100%;
        line-height: 70px;
        font-weight: 400;

        a {
          transition: color .3s ease;
          color: $foxtel-now-dark-grey;
          text-decoration: none;

          &:hover {
            color: black;
          }

          img.kids {
            padding-bottom: 10px;
            transition: opacity .3s ease;
            opacity: 0.7;

            &:hover {
              opacity: 1.0;
            }
          }
        }
      }
    }

    .right-section {
      -ms-flex-item-align: end;
      align-self: flex-end;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      box-sizing: border-box;

      .settings {
        display: none;
        margin-left: 20px;
        height: 100%;
        outline: 0;
        width: 17px;

        @include breakpoint(mobileOnly) {
          margin-right: 10px;
        }

        .settings-icon {
          vertical-align: middle;
          cursor: pointer;
          color: #9b9b9b;
          transition: color .3s ease;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
        }

        .dropdown {
          display: none;
          margin-left: 5%;
          position: relative;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 150px;

          &.open {
            display: block;
          }

          .options {
            $xTransform: -102px;

            width: 130px;
            z-index: 101;
            -webkit-transform: translateX($xTransform) translateY(-20px);
            -ms-transform: translateX($xTransform) translateY(-20px);
            transform: translateX($xTransform) translateY(-20px);

            opacity: 1;
            pointer-events: auto;

            position: absolute;
            transition: opacity .3s ease;
            text-overflow: ellipsis;

            .arrow-box {
              padding: 0;

              position: relative;
              border: 1px solid $foxtel-now-dark-grey;
              background: white;
              min-width: 100%;
              margin-top: 10px;

              &:before,
              &:after {
                content: " ";
                bottom: 100%;
                right: 10px;
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: white;
                border-width: 10px;
              }

              &:before {
                border-bottom-color: $foxtel-now-dark-grey;

                border-width: 12px;
                right: 8px;
              }

              span {
                text-align: right;

                color: $foxtel-now-dark-grey;
                transition: color .1s ease;
                cursor: pointer;
                display: block;
                padding: 5px 0;
                padding-right: 1em;
                font-size: 16px;

                &.username {
                  color: black;
                  font-weight: bold;
                  word-wrap: break-word;
                }

                &.hr {
                  width: 100%;
                  border-bottom: 1px solid $foxtel-now-dark-grey;
                  padding: 0;
                }
              }
            }
          }
        }
      }

      .foxtel-now-header__btn-cart {
        display: none;

        .foxtel-now-header__btn-cart__icon {
          position: relative;
          display: inline-block;
          margin-right: 20px;
          margin-top: 12px;

          @include breakpoint(tablet) {
            margin-right: 50px;
          }

          .foxtel-now-header__btn-cart__icon__quantity {
            position: absolute;
            top: -5px;
            right: -15px;
            background-color: $foxtel-now-orange;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            font-weight: 700;
            line-height: 30px;
          }

          .icon {
            // generated styles - to be replaced by font and class definitions
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentcolor;
            fill: currentcolor;
            // added customisations
            width: 30px;
            height: 30px;
            margin-top: 15px;
          }
        }
      }

      .foxtel-now-header__btn-container {
        margin-left: 20px;
        display: flex;
        vertical-align: middle;
        -ms-flex-align: center;
      }
    }
  }
}

/*foxtel header breadcrumb scrolling up pop state*/
.foxtel-now-header-breadcrumb--pop {
  position: fixed;
  left:0;
  right:0;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  z-index: 9999;
}
