/* Styles for cinematic block */

.cineWrapper {
	position: relative;
}

.foxtel-now-cinematic-highlight-block {
	z-index: 1;
	position: absolute;

	@include breakpoint(mobileOnly) {
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
	}

	@include breakpoint(tablet) {
		left: 80px;
		bottom: 10%;
	}
}

.meta-information {
	.cinematic-info {
	  position: absolute;
	  right: 50px;
	  bottom: 10%;

	  p,
		span,
		a {
	    color: $soft-white;
	    font-size: 12px;
	    margin-bottom: 0;
	    font-weight: 300;

	    &.name {
	      margin-bottom: .4rem;
	    }
	  }

	  @include breakpoint(mobileOnly) {
	    visibility: hidden;
	  }
	}

	&.left-index {
		.cinematic-info {
			left: 50px;
		}
	}
}

.image-cinematic {
	picture {
		img {
			width: 100%;
		}
	}

	.dark-shadow {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		background: linear-gradient(90deg, black, transparent 50%);
	}
}
