/* Styles for cinematic block */

.cineWrapper {
	position: relative;
}

.foxtel-now-cinematic-highlight-block {
	z-index: 1;
	position: absolute;

	@include breakpoint(mobileOnly) {
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
	}

	@include breakpoint(tablet) {
		left: 80px;
		bottom: 110px;
	}
}

.meta-information {
	position: absolute;
	bottom: 250px;
	right: 5%;
	.cinematic-info {
		position: absolute;
		color: white;
	}
	&.left-index {
		.cinematic-info {
			left: 15px;
			text-align: left;
		}
	}
	&.right-index {
		.cinematic-info {
			right: 15px;
			text-align: right;
		}
	}
}

.image-cinematic {
	picture {
		img {
			width: 100%;
		}
	}

	.dark-shadow {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		background: linear-gradient(90deg, black, transparent 50%);
	}
}
