/* Styles for cinematic block */

.cineWrapper {
	position: relative;
}

.foxtel-now-cinematic-highlight-block {
	position: absolute;
	top: 250px;
	left: 5%;
}

.meta-information {
	position: absolute;
	bottom: 250px;
	right: 5%;
	.cinematic-info {
		position: absolute;
		color: white;
	}
	&.left-index {
		.cinematic-info {
			left: 15px;
			text-align: left;
		}
	}
	&.right-index {
		.cinematic-info {
			right: 15px;
			text-align: right;
		}
	}
		
}